<?xml version="1.0" encoding="utf-8"?>
<RFID_DEV>
  <SERVER_IP>192.168.1.111</SERVER_IP>
  <SERVER_PORT>9000</SERVER_PORT>
  <KEEPLIVE_GAP>5000</KEEPLIVE_GAP>
  <RFID_SCAN_GAP>200</RFID_SCAN_GAP>
  <RFID_COMX>1</RFID_COMX>
  <RFID_BAUDRATE>57600</RFID_BAUDRATE>
  <RFID_DATA_BITS>8</RFID_DATA_BITS>
  <RFID_STOP_BITS>1</RFID_STOP_BITS>
  <RFID_PARITY>N</RFID_PARITY>
  <RFID_COM_IP>192.168.1.254</RFID_COM_IP>
  <RFID_COM_PORT>4001</RFID_COM_PORT>
  <RFID_SCAN_DURATION_TIME>0</RFID_SCAN_DURATION_TIME>
  <RFID_LABEL_TYPE>ISO1800-6B</RFID_LABEL_TYPE>
  <REGISTER_DEV_TAG>CAR</REGISTER_DEV_TAG>
  <REGISTER_DEV_ID>11000000</REGISTER_DEV_ID>
  <SYS_CTRL_R_START_EVENT_ID>1100000000</SYS_CTRL_R_START_EVENT_ID>
  <SYS_CTRL_R_STOP_EVENT_ID>1100000009</SYS_CTRL_R_STOP_EVENT_ID>
  <GATHER_DATA_EVENT_ID>1100000002</GATHER_DATA_EVENT_ID>
  <GATHER_DATA_DEV_TAG>CAR</GATHER_DATA_DEV_TAG>
</RFID_DEV>
